
            <table>
                <tr>
                    <td>The amount of beer you drank:</td>
                    <td class="number">{{ current_user_amount }}</td>
                </tr>
                <tr>
                    <td>Your amount in moneys:</td>
                    <td class="number">not implemented yet</td>
                </tr>
                <tr>
                    <td>Beer drunk this week:</td>
                    <td class="number"> {{ this_week }}</td>
                </tr>
                <tr>
                    <td>Total beer drunk:</td>
                    <td class="number">{{ total_amount }}</td>
                </tr>
                <tr>
                    <td>Average price per beer:</td>
                    <td class="number">not implemented yet</td>
                </tr>
                <tr>
                    <td>Total beer drunk in moneys:</td>
                    <td class="number">not implemented yet</td>
                </tr>
            </table>
