{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <button type="submit">Create!</button>
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}

{% endblock %}

