{% extends 'base.html.twig' %}

{%  block body %}

    {{ include('nav.html.twig') }}

    <div class="row welcome">

        <div class="container">

            <div class="col-sm-12">
                <h1>Welcome {{ app.user.username }} group:{{ app.user.getCurrentGroup() }}</h1>
            </div>

        </div>

    </div>

    <div class="container overview">

        <div class="row">

            <div class="col-sm-12">
                <h2>This currently is the status of {{ app.user.getCurrentGroup() }}</h2>
            </div>

            <div class="col-sm-12">
                <div class="col-md-4">
                    <h4>Users:</h4>
                    <table>
                        <tr>
                            <td>The amount of beer you drank:</td>
                            <td class="number">16</td>
                        </tr>

                    </table>

                    <div class="col-sm-12 stripe">
                        <button>Stripe 1 beer for yourself</button>
                    </div>

                </div>

                {#<div class="col-md-5">
                    <h4>These items are (almost) out of stock:</h4>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Date added</th>
                            <th>Edit</th>
                        </tr>
                        <tr>
                            <td class="invName" width="40%">Toilet Paper</td>
                            <td>1 rolls</td>
                            <td class="data">22-06-2016</td>
                            <td><img src="./img/pencil-edit-button.png" /></td>
                        </tr>
                        <tr>
                            <td class="invName">Olive Oil</td>
                            <td>1/2 flask</td>
                            <td class="data">20-06-2016</td>
                            <td><img src="./img/pencil-edit-button.png" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    <h4>Recipe of the week:</h4>

                    <a href="./cookbook_single.html">
                        <div class="col-sm-12 card">
                            <div class="header" style="background-image: url('./img/stamppot.jpg');">
                                <h3>Stamppot boerenkool</h3>
                            </div>
                            <div class="short">
                                <p>The traditional dutch winter meal. Easy to cook and prepare, but it takes some time to prepare the potatos.</p>
                            </div>
                            <div class="category">
                                <ul>
                                    <li>&euro; 2.45 p.p.</li>
                                    <li>Beginner</li>
                                    <li>30m</li>
                                </ul>
                            </div>
                        </div>
                    </a>

                </div>#}
            </div>


        </div>
    </div>


{% endblock %}


