{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash_message">
            {{ flash_message }}
        </div>
    {% endfor %}


{% endblock body %}

