{% extends 'base_no_nav.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('message') %}
        <div> {{ flash_message }}</div>
    {% endfor %}

{% endblock body %}